<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css' rel='stylesheet'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
                               
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js'></script>
                           
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
        
    <link type="text/css" rel="stylesheet" href="../assets/css/styles.css" media="screen,projection" />

    <title>Jlayers</title>
</head>

<body oncontextmenu='return false' class='snippet-body'>
  <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="FirstPage.html">Acceuil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ImpressionFIL.html">Impression filament</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ImpressionRES.html">Impression résine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Bibliotheque.html">Fichiers STL</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="Login.html">Login</a>
              </li>
            </ul>
      </div>
    </div>
  </nav>

    <div class="ImpressionRes">
        <div class="QlqPla">
            <video class="video-background" poster="https://images.unsplash.com/photo-1587587448844-c1036562fec1?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTYyNzg5Mjk2MA&ixlib=rb-1.2.1&q=85" autoplay muted loop>
                <source src="../videos/resine.mp4" type="video/mp4">
              </video>
            <h1>Imprimantes 3D Résine</h1>
        </div>
        <div class="Fonctionnement">
            <h1>Fonctionnement d'une imprimante Résine</h1>
            <p>Appelée aussi SLA (Stéréolithographie Apparatus) cette technique consiste à solidifier un liquide photosensible par le biais d’un rayon laser ultraviolet. Les imprimantes fonctionnant par SLA ont quatre parties principales: un réservoir qui peut être rempli avec un liquide photopolymère, une plate-forme perforée qui est descendue dans le réservoir, un rayonnement ultraviolet (UV ) et d’un ordinateur commandant la plate-forme et le laser.

                Tout comme un imprimante filament, l’imprimante va dans un premier analyser le fichier CAO, puis en fonction de la forme de l’objet va lui ajouter des fixations temporaires pour maintenir certaines parties qui pourraient s’affaisser. Puis le laser va commencer par toucher et durcir instantanément la première couche de l’objet à imprimer. Une fois que la couche initiale de l’objet a durci, la plate-forme est abaissée, est ensuite exposée une nouvelle couche de surface de polymère liquide. Le laser trace à nouveau une section transversale de l’objet qui colle instantanément à la pièce durcie du dessous.</p>
        </div>  
        <div class="card-group">
            <div class="card">
              <img src="../images/elegoo.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Elegoo Mars 2</h5>
                <p class="card-text">Design dynamique
                    Bonne qualité d’impression et fiabilité
                    Facilité d’utilisation</p>
                <a href="https://www.amazon.fr/ELEGOO-Imprimante-Photopolym%C3%A9risation-Impression-dimpression/dp/B07K32LQMV/ref=sr_1_1_sspa?dchild=1&keywords=Elegoo+MArs+2&qid=1630057369&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEzRjVYSjk3UUk2QUlWJmVuY3J5cHRlZElkPUEwMzQ2MDIwMVg1REJGSjQ4REJLMSZlbmNyeXB0ZWRBZElkPUEwMDM1MTI4QTVFR0JDUjQ1U0xIJndpZGdldE5hbWU9c3BfYXRmJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==" class="card-text"><small class="text-muted">Acheter cette imprimante</small></a>
              </div>
            </div>
            <div class="card">
              <img src="../images/anycubic.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Anycubic Photon Mono X</h5>
                <p class="card-text">Grand volume d’impression
                    Impression rapide et précise
                    Configuration minimale</p>
                <a href="https://www.amazon.fr/Imprimante-photopolym%C3%A9risation-Monochrome-t%C3%A9l%C3%A9commande-dapplication/dp/B08HTZLV64/ref=sr_1_2_sspa?dchild=1&keywords=Anycubic+Photon+Mono+X&qid=1630057420&sr=8-2-spons&psc=1&smid=A2R8CFQF8ORMUL&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyWUFFVUcwSENIR001JmVuY3J5cHRlZElkPUEwNjQxNTcxMURFREY1SVFDQUJUNCZlbmNyeXB0ZWRBZElkPUEwNzYwMTc3MVc1TUszVVpXNkVWVSZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" class="card-text"><small class="text-muted">Acheter cette imprimante</small></a>
              </div>
            </div>
            <div class="card">
              <img src="../images/phrozen.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Phrozen Sonic Mini 4K</h5>
                <p class="card-text">Précision d’impression supérieure à la moyenne
                    Impression rapide
                    Facilité d’utilisation</p>
                <a href="https://www.amazon.fr/PHROZEN-Printer-Monochrome-ParaLED-Taiwan/dp/B094J17JNB/ref=sr_1_1?dchild=1&keywords=phrozen+sonic+mini+4k&qid=1630057469&sr=8-1" class="card-text"><small class="text-muted">Acheter cette imprimante</small></a>
              </div>
            </div>
          </div>
        <div class="ProduitPla">
            <h1>Produits nécessaires pour  une <br>imprimante 3D Résine</h1>
        </div>
        <div class="card-group outils">
            <div class="card">
              <img src="../images/bouteilleResine.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Résine Rapide</h5>
                <p class="card-text">La résine photosensible contient des monomères de méthacrylate, ce qui permet de réduire le retrait du volume pendant le processus de photopolymérisation. Cela garantit la haute précision et la finition lisse des modèles d'impression.</p>
                <a href="https://www.amazon.fr/ELEGOO-R%C3%A9sine-Impression-Liquides-Photopolym%C3%A8re/dp/B07Z98JMHY/ref=asc_df_B07Z98JMHY/?tag=googshopfr-21&linkCode=df0&hvadid=411454759642&hvpos=&hvnetw=g&hvrand=7705372851325175897&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9055506&hvtargid=pla-859122687534&psc=1&tag=&ref=&adgrpid=95238321291&hvpone=&hvptwo=&hvadid=411454759642&hvpos=&hvnetw=g&hvrand=7705372851325175897&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9055506&hvtargid=pla-859122687534" class="card-text"><small class="text-muted">Acheter du filament</small></a>
              </div>
            </div>
            <div class="card">
              <img src="../images/mercury-plus.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ELEGOO Mercury Plus Machine de Nettoyage et de Durcissement</h5>
                <p class="card-text">La conception Wash and Cure 2 en 1 permet de laver et de durcir les modèles imprimés en 3D fabriqués dans une seule machine. Le processus opérationnel est désormais plus efficace avec moins d'efforts pour répondre aux différents besoins.</p>
                <a href="https://www.amazon.fr/ELEGOO-Machine-polym%C3%A9riser-imprim%C3%A9s-polym%C3%A9risation/dp/B086BZ9168/ref=sr_1_5?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=elegoo&qid=1630058283&s=industrial&sr=1-5" class="card-text"><small class="text-muted">Acheter des buses</small></a>
              </div>
            </div>
            <div class="card">
              <img src="../images/alcool.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Isopropylique Alcool 99,9% nettoyeur liquide</h5>
                <p class="card-text">Isopropylique 1L est un bon solvant pour les cires, les huiles, les résines et de nombreux autres produits. Il sert a enlever tout les résidu de résine après une impression</p>
                <a href="https://www.amazon.fr/Alcool-Isopropylique-disopropanol-liquide-nettoyeur/dp/B07DXD9DCM/ref=sr_1_4?__mk_fr_FR=%C3%85M%C3%85%C5%BD%C3%95%C3%91&dchild=1&keywords=Alcool+Isopropylique+impression+r%C3%A9sine&qid=1630058762&sr=8-4" class="card-text"><small class="text-muted">Acheter des outils</small></a>
              </div>
            </div>
          </div>


          <div class="footer">
            <h1>Develloppé par Julien Martin</h1>
            <img class="logo" src="../images/ezgif.com-gif-maker (1).gif">
        </div>
    </div>
  


    </footer>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../js/carouselCard.js"></script>
    
</body>

</html>